*{
    padding: 0;
    margin: 0;
}

body{
        height: 100vh;
        width: 100vw;
        background-image: url(./BgIMAGE/bg7.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

center{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    
}
.container{
    height: 10rem;
    width: 360px;
    background-color:rgb(147, 234, 230);
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.container h2{
    border: none;
    border-radius: 10px;
    background-color: #efefef;
    width: 300px;
}

li button{
    border-radius: 5px;
    width: 170px;
}
 li{ list-style-type: none;
    font-size: 17px;
    margin: .2rem;
}
li a{
    color: red;
    text-decoration: none;
}

.Au-container{
    display: flex;
}

.audio{
    margin: 3rem 0 0 2rem;
}
.bgimg{ 
    max-width: 200px;
    /* width: 90%;         */
    height: 300px;
   border: none;
   border-radius: 5px;
  margin-left:3rem;
}

/* #song5{
    background:linear-gradient(to left blue, red, green, yellow);
} */













